$size_ball: 20;
$color_todo: #535D67;
$color_done: #006bf2;

.steppers {
  display: flex;
  flex-direction: flex;
  align-items: center;
  .step {
    background: $color_todo;
    flex: 1;
    width: 100%;
    position: relative;
    height: #{$size_ball}px;

    &--todo {
      &:before {
        display: block;
        content: '';
        background: $color_todo;
        width: #{$size_ball}px;
        height: #{$size_ball}px;
        border-radius: 50%;
        z-index: 2;
        border: 2px solid white;
        left: -#{$size_ball}px;
        position: absolute;
      }
      .step {
        &__fixer {
          display: block;
          content: '';
          background: $color_todo;
          width: #{$size_ball}px;
          height: #{$size_ball}px;
          position: absolute;
          border-top-left-radius: 50%;
          border-bottom-left-radius: 50%;
          left: -#{$size_ball}px;
        }
      }
      &:first-child {
        &:before {
          left: 0px;
        }
        .step {
          &__fixer {
            display: none;
          }
        }
      }
    }

    &--done {
      background: $color_done;
    }

    &:last-child {
      border-top-right-radius: #{$size_ball}px;
      border-bottom-right-radius: #{$size_ball}px;
      &:after {
        display: block;
        content: '';
        background: $color_todo;
        width: #{$size_ball}px;
        height: #{$size_ball}px;
        border-radius: 50%;
        z-index: 2;
        border: 2px solid white;
        left: calc(100% - #{$size_ball}px);
        position: absolute;
      }
    }
    &:first-child {
      border-top-left-radius: #{$size_ball}px;
      border-bottom-left-radius: #{$size_ball}px;
    }

  }
}